/* Full Container */

.full-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px 0px 100px 0px;
}

/* Headers, Title, and Subtitle */

.layer1-wrapper {
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Information Button Kanan Atas */

.container-information-button {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 25px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.container-information-button i {
    font-size: 14px;
    color: #f15d80;
    cursor: pointer;
}

/* Container Header Tempat Title dan Subtitle */

.container-header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 18px 0px 0px 0px;
    overflow: hidden;
}

.container-header span {
    margin: 0;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 30px;
    white-space: nowrap;
}

.container-header .title {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.1;
    color: #f15d80;
}

.container-header .subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff;
}

/* Input Form */

.container-input {
    width: 100%;
    max-width: 500px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 15px 5px 15px;
    gap: 4px;
    overflow: hidden;
}

.container-input textarea,
.container-input button {
    width: 100%;
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
}

.container-input textarea {
    background-color: transparent;
    height: 74px;
    color: #ffffff;
    border: solid 1px #f15d80;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.2;
    resize: none;
    overflow: hidden;
}

.container-input textarea::placeholder {
    color: #ffffffc9;
    overflow: hidden;
}

.container-input button {
    background-color: #f15d80;
    height: 30px;
    color: white;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

/* Panel Stream Video */
 
.stream-video-section.inactive {
    display: none;
}

.stream-video-section {
    position: sticky;
    top: 0;
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    z-index: 1;
    background-color: black;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.stream-video-section video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* Result */

.container-result {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-result {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
}

.container-item {
    background-color: #000000;
    border: none;
    border-radius: 8px;
    height: 100px;
    width: 100%;
    max-width: 449px;
    min-width: 209px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
}

.container-item.expand {
    width: 100%;
    height: auto;
}

.container-item-default {
    height: 100px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.container-image {
    height: 100%;
    aspect-ratio: 4/3;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
}

.container-image img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.container-info {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px 15px 6px 2px;
    position: relative;
}

.container-info .title {
    color: #ffffff;
    line-height: 1.15;
    font-size: 16px;
    font-weight: 500;
    max-height: 38px;
    overflow: hidden;
    word-break: break-all;
    overflow-wrap: break-word;
}

.container-button {
    width: 90%;
    height: 30px;
    position: absolute;
    bottom: 7px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.container-stream-button-invalid {
    display: none;
}

.container-download-button,
.container-stream-button-valid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.container-download-button {
    flex: 3;
}

.container-stream-button-valid {
    flex: 1;
}

.download-button,
.stream-button {
    border: none;
    outline: none;
    height: 80%;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-button {
    width: 100%;
    font-size: 10px;
    color: #ffffff;
    background-color: transparent;
    border: solid 1px #ff6f91;
}

.stream-button {
    width: 100%;
    font-size: 10px;
    padding-top: 2px;
    color: white;
    background-color: #f15d80;
}

/* Failed Result */

.container-failed {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-failed span {
    color: #f15d80;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}